--
-- PostgreSQL database dump
--

-- Dumped from database version 17.0 (Debian 17.0-1.pgdg120+1)
-- Dumped by pg_dump version 17.0 (Debian 17.0-1.pgdg120+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: approved_admin; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.approved_admin (
    id integer NOT NULL,
    email character varying(150) NOT NULL
);


ALTER TABLE public.approved_admin OWNER TO postgres;

--
-- Name: approved_admin_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.approved_admin_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.approved_admin_id_seq OWNER TO postgres;

--
-- Name: approved_admin_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.approved_admin_id_seq OWNED BY public.approved_admin.id;


--
-- Name: approved_employee; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.approved_employee (
    id integer NOT NULL,
    employee_id uuid,
    email character varying(100),
    created_at timestamp without time zone,
    registered boolean,
    registration_date timestamp without time zone
);


ALTER TABLE public.approved_employee OWNER TO postgres;

--
-- Name: approved_employee_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.approved_employee_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.approved_employee_id_seq OWNER TO postgres;

--
-- Name: approved_employee_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.approved_employee_id_seq OWNED BY public.approved_employee.id;


--
-- Name: bill; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.bill (
    id uuid NOT NULL,
    description character varying(255),
    total_value numeric(10,2),
    paid_value numeric(10,2),
    due_date timestamp without time zone,
    payment_date timestamp without time zone,
    status character varying(255),
    category character varying(255),
    notes text,
    created_at timestamp without time zone,
    updated_at timestamp without time zone,
    marbleshop_id uuid,
    name character varying(200)
);


ALTER TABLE public.bill OWNER TO postgres;

--
-- Name: customer; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.customer (
    id uuid NOT NULL,
    name character varying(100),
    phone character varying(30),
    email character varying(150),
    address character varying(255),
    marbleshop_id uuid,
    created_at timestamp without time zone
);


ALTER TABLE public.customer OWNER TO postgres;

--
-- Name: employee; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.employee (
    id uuid NOT NULL,
    name character varying(255),
    document_number character varying(255),
    salary numeric,
    phone character varying(255),
    employee_role smallint,
    marbleshop_id uuid,
    created_at timestamp without time zone,
    is_active boolean DEFAULT true,
    hire_date date,
    user_id uuid
);


ALTER TABLE public.employee OWNER TO postgres;

--
-- Name: expense; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.expense (
    id uuid NOT NULL,
    details character varying(255),
    paid_value numeric(10,2),
    payment_type character varying(255),
    bill_id uuid,
    created_at timestamp without time zone,
    payment_date timestamp without time zone,
    marbleshop_id uuid
);


ALTER TABLE public.expense OWNER TO postgres;

--
-- Name: flyway_schema_history; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.flyway_schema_history (
    installed_rank integer NOT NULL,
    version character varying(50),
    description character varying(200) NOT NULL,
    type character varying(20) NOT NULL,
    script character varying(1000) NOT NULL,
    checksum integer,
    installed_by character varying(100) NOT NULL,
    installed_on timestamp without time zone DEFAULT now() NOT NULL,
    execution_time integer NOT NULL,
    success boolean NOT NULL
);


ALTER TABLE public.flyway_schema_history OWNER TO postgres;

--
-- Name: marbleshop; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.marbleshop (
    id uuid NOT NULL,
    name character varying(100) NOT NULL,
    email character varying(100) NOT NULL,
    phone character varying(20) NOT NULL,
    created_at timestamp without time zone,
    logo_path character varying(150)
);


ALTER TABLE public.marbleshop OWNER TO postgres;

--
-- Name: marbleshop_item; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.marbleshop_item (
    id uuid NOT NULL,
    name character varying(100) NOT NULL,
    description character varying(255),
    measurex numeric(10,3),
    measurey numeric(10,3),
    quantity integer,
    marbleshop_material_id uuid,
    unit_value numeric(10,2),
    unit_area numeric(10,3),
    total_value numeric(10,2),
    total_area numeric(10,3),
    marbleshop_item_type character varying(30),
    quotation_id uuid,
    marbleshop_order_id uuid
);


ALTER TABLE public.marbleshop_item OWNER TO postgres;

--
-- Name: marbleshop_material; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.marbleshop_material (
    id uuid NOT NULL,
    name character varying(100) NOT NULL,
    details character varying(255),
    price numeric(10,2) NOT NULL,
    last_price numeric(10,2),
    marbleshop_material_type character varying(30),
    created_at timestamp without time zone,
    marbleshop_id uuid,
    active boolean DEFAULT true
);


ALTER TABLE public.marbleshop_material OWNER TO postgres;

--
-- Name: marbleshop_order; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.marbleshop_order (
    id uuid NOT NULL,
    total_value numeric,
    total_area numeric,
    customer_id uuid,
    marbleshop_id uuid,
    created_at timestamp without time zone,
    local_id integer NOT NULL,
    work_address character varying(255),
    discount numeric(10,2),
    final_value numeric(10,2),
    marbleshop_order_status character varying(50),
    estimated_installment_date timestamp without time zone,
    installment_date timestamp without time zone,
    notes text,
    payment_status character varying(30),
    updated_at timestamp without time zone,
    total_paid numeric(10,2)
);


ALTER TABLE public.marbleshop_order OWNER TO postgres;

--
-- Name: marbleshop_sub_item; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.marbleshop_sub_item (
    id uuid NOT NULL,
    name character varying(40) NOT NULL,
    description character varying(250),
    measurex numeric(10,2) NOT NULL,
    measurey numeric(10,2) NOT NULL,
    quantity integer,
    value numeric(10,2),
    area numeric(10,2),
    marbleshop_sub_item_type character varying(255),
    marbleshop_item_id uuid,
    created_at timestamp without time zone,
    total_value numeric(10,2),
    total_area numeric(10,2)
);


ALTER TABLE public.marbleshop_sub_item OWNER TO postgres;

--
-- Name: marbleshop_user; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.marbleshop_user (
    id uuid NOT NULL,
    name character varying(150) NOT NULL,
    email character varying(150) NOT NULL,
    password character varying(255) NOT NULL,
    phone character varying(50),
    user_type smallint,
    marbleshop_id uuid NOT NULL,
    created_at timestamp without time zone
);


ALTER TABLE public.marbleshop_user OWNER TO postgres;

--
-- Name: miscellaneous_item; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.miscellaneous_item (
    id uuid NOT NULL,
    name character varying(100),
    details character varying(255),
    quantity integer,
    unit_value numeric(10,2),
    total_value numeric(10,2),
    miscellaneous_material_id uuid,
    quotation_id uuid,
    marbleshop_order_id uuid
);


ALTER TABLE public.miscellaneous_item OWNER TO postgres;

--
-- Name: miscellaneous_material; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.miscellaneous_material (
    id uuid NOT NULL,
    name character varying(100) NOT NULL,
    details character varying(255),
    price numeric(10,2),
    last_price numeric(10,2),
    miscellaneous_material_type character varying(30),
    marbleshop_id uuid,
    created_at timestamp without time zone,
    active boolean DEFAULT true
);


ALTER TABLE public.miscellaneous_material OWNER TO postgres;

--
-- Name: payment; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.payment (
    id uuid NOT NULL,
    details character varying(255),
    payed_value numeric(10,2),
    marbleshop_order_id uuid,
    payment_type character varying(30),
    created_at timestamp without time zone,
    customer_id uuid,
    marbleshop_id uuid,
    payment_date timestamp without time zone
);


ALTER TABLE public.payment OWNER TO postgres;

--
-- Name: production_order; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.production_order (
    id uuid NOT NULL,
    order_id uuid,
    expected_start_date date,
    real_start_date date,
    expected_end_date date,
    real_end_date date,
    production_status character varying(50),
    production_priority character varying(50),
    project_url character varying(255),
    notes character varying(255),
    marbleshop_id uuid
);


ALTER TABLE public.production_order OWNER TO postgres;

--
-- Name: production_order_item; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.production_order_item (
    id uuid NOT NULL,
    production_order_id uuid,
    marbleshop_item_id uuid,
    status character varying(50),
    notes character varying(255)
);


ALTER TABLE public.production_order_item OWNER TO postgres;

--
-- Name: quotation; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.quotation (
    id uuid NOT NULL,
    name character varying(100) NOT NULL,
    details character varying(255),
    address character varying(255) NOT NULL,
    deadline_days integer NOT NULL,
    days_for_due integer NOT NULL,
    total_value numeric(10,3) NOT NULL,
    total_area numeric(10,3) NOT NULL,
    quotation_status smallint NOT NULL,
    customer_id uuid NOT NULL,
    created_at timestamp without time zone,
    marbleshop_id uuid,
    user_id uuid,
    local_id integer,
    payment_condition character varying(255)
);


ALTER TABLE public.quotation OWNER TO postgres;

--
-- Name: slab; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.slab (
    id uuid NOT NULL,
    material_id uuid,
    density_measure numeric,
    measurex numeric(10,2),
    measurey numeric(10,2),
    area numeric,
    quality character varying(30),
    notes character varying(255),
    status character varying(50),
    entry_date timestamp without time zone,
    updated_at timestamp without time zone,
    created_at timestamp without time zone,
    marbleshop_id uuid
);


ALTER TABLE public.slab OWNER TO postgres;

--
-- Name: slab_movement; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.slab_movement (
    id uuid NOT NULL,
    slab_id uuid,
    area_moved numeric(10,2),
    production_order_item_id uuid,
    movement_type character varying(255),
    created_at timestamp without time zone,
    notes text
);


ALTER TABLE public.slab_movement OWNER TO postgres;

--
-- Name: approved_admin id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.approved_admin ALTER COLUMN id SET DEFAULT nextval('public.approved_admin_id_seq'::regclass);


--
-- Name: approved_employee id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.approved_employee ALTER COLUMN id SET DEFAULT nextval('public.approved_employee_id_seq'::regclass);


--
-- Data for Name: approved_admin; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.approved_admin (id, email) FROM stdin;
1	beltsmarques@hotmail.com
\.


--
-- Data for Name: approved_employee; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.approved_employee (id, employee_id, email, created_at, registered, registration_date) FROM stdin;
\.


--
-- Data for Name: bill; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: customer; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: employee; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.employee (id, name, document_number, salary, phone, employee_role, marbleshop_id, created_at, is_active, hire_date, user_id) FROM stdin;
\.


--
-- Data for Name: expense; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: flyway_schema_history; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: marbleshop; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.marbleshop (id, name, email, phone, created_at, logo_path) FROM stdin;
7e1fc8ff-150f-4d37-ac3c-3e27f5826cc7	VIDMAR	beltrandes@marmorariavidmar.com.br	(11) 98953-5288	2025-05-04 17:51:29.085415	C:\\uploads\\logos\\7e1fc8ff-150f-4d37-ac3c-3e27f5826cc7_V I D M A R.jpg
\.


--
-- Data for Name: marbleshop_item; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: marbleshop_material; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: marbleshop_order; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: marbleshop_sub_item; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: marbleshop_user; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.marbleshop_user (id, name, email, password, phone, user_type, marbleshop_id, created_at) FROM stdin;
d8c2d407-0927-4450-ae07-e2b5f8121f79	Beltrandes Marques	beltsmarques@hotmail.com	$2a$10$xjU5C8.5ZnEZSzkhChVI6uf8wkhGEk6AHCaqlbV8pqJIWVGpIlxye	(11) 98953-5288	0	7e1fc8ff-150f-4d37-ac3c-3e27f5826cc7	2025-05-04 17:51:29.152913
\.


--
-- Data for Name: miscellaneous_item; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: miscellaneous_material; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: payment; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: production_order; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.production_order (id, order_id, expected_start_date, real_start_date, expected_end_date, real_end_date, production_status, production_priority, project_url, notes, marbleshop_id) FROM stdin;
a0232f46-c11f-4fde-8699-50fee4f65965	379e7f3b-2d7a-46de-80bc-6601b8827b17	2025-06-30	\N	2025-07-02	\N	PENDING	HIGH	\\uploads\\projects\\a0232f46-c11f-4fde-8699-50fee4f65965_projeto-juliana-alves.png	Prestar aten├º├úo no desnivel da bancada e no acabamento lateral esquerdo da ├írea seca	7e1fc8ff-150f-4d37-ac3c-3e27f5826cc7
\.


--
-- Data for Name: production_order_item; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.production_order_item (id, production_order_id, marbleshop_item_id, status, notes) FROM stdin;
b82b8659-daae-4fc0-9c0d-23312cd2791f	a0232f46-c11f-4fde-8699-50fee4f65965	2a6e6684-ed94-4b3d-aec0-d849ae84ad95	WAITING_FOR_CUT	testando?
a5c433d2-a7e4-4812-b4a2-54bc68d0c295	a0232f46-c11f-4fde-8699-50fee4f65965	43abf175-2483-4e51-944f-84affe0c24c2	WAITING_FOR_CUT	testando?
\.


--
-- Data for Name: quotation; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: slab; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.slab (id, material_id, density_measure, measurex, measurey, area, quality, notes, status, entry_date, updated_at, created_at, marbleshop_id) FROM stdin;
6cf678dc-bbc0-4918-87f1-ac902d8a2de5	32a8dbe2-0908-41de-9c5f-5cb6bd3cce94	0.02	2.85	1.90	5.4150	PREMIUM	Pequena lasca na borda inferior direita.	IN_STOCK	2024-06-15 00:00:00	2025-06-22 23:29:18.137993	2025-06-22 23:29:18.137993	7e1fc8ff-150f-4d37-ac3c-3e27f5826cc7
\.


--
-- Data for Name: slab_movement; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.slab_movement (id, slab_id, area_moved, production_order_item_id, movement_type, created_at, notes) FROM stdin;
\.


--
-- Name: approved_admin_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.approved_admin_id_seq', 1, false);


--
-- Name: approved_employee_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.approved_employee_id_seq', 1, false);


--
-- Name: approved_admin approved_admin_email_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.approved_admin
    ADD CONSTRAINT approved_admin_email_key UNIQUE (email);


--
-- Name: flyway_schema_history flyway_schema_history_pk; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.flyway_schema_history
    ADD CONSTRAINT flyway_schema_history_pk PRIMARY KEY (installed_rank);


--
-- Name: approved_employee pk_approved_employee; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.approved_employee
    ADD CONSTRAINT pk_approved_employee PRIMARY KEY (id);


--
-- Name: bill pk_bill; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.bill
    ADD CONSTRAINT pk_bill PRIMARY KEY (id);


--
-- Name: customer pk_customer; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.customer
    ADD CONSTRAINT pk_customer PRIMARY KEY (id);


--
-- Name: employee pk_employee; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.employee
    ADD CONSTRAINT pk_employee PRIMARY KEY (id);


--
-- Name: expense pk_expense; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.expense
    ADD CONSTRAINT pk_expense PRIMARY KEY (id);


--
-- Name: marbleshop pk_marbleshop; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.marbleshop
    ADD CONSTRAINT pk_marbleshop PRIMARY KEY (id);


--
-- Name: marbleshop_item pk_marbleshop_item; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.marbleshop_item
    ADD CONSTRAINT pk_marbleshop_item PRIMARY KEY (id);


--
-- Name: marbleshop_material pk_marbleshop_material; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.marbleshop_material
    ADD CONSTRAINT pk_marbleshop_material PRIMARY KEY (id);


--
-- Name: marbleshop_order pk_marbleshop_order; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.marbleshop_order
    ADD CONSTRAINT pk_marbleshop_order PRIMARY KEY (id);


--
-- Name: marbleshop_sub_item pk_marbleshop_sub_item; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.marbleshop_sub_item
    ADD CONSTRAINT pk_marbleshop_sub_item PRIMARY KEY (id);


--
-- Name: miscellaneous_item pk_miscellaneous_item; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.miscellaneous_item
    ADD CONSTRAINT pk_miscellaneous_item PRIMARY KEY (id);


--
-- Name: miscellaneous_material pk_miscellaneous_material; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.miscellaneous_material
    ADD CONSTRAINT pk_miscellaneous_material PRIMARY KEY (id);


--
-- Name: payment pk_payment; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.payment
    ADD CONSTRAINT pk_payment PRIMARY KEY (id);


--
-- Name: production_order pk_production_order; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.production_order
    ADD CONSTRAINT pk_production_order PRIMARY KEY (id);


--
-- Name: production_order_item pk_production_order_item; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.production_order_item
    ADD CONSTRAINT pk_production_order_item PRIMARY KEY (id);


--
-- Name: quotation pk_quotation; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.quotation
    ADD CONSTRAINT pk_quotation PRIMARY KEY (id);


--
-- Name: slab pk_slab; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.slab
    ADD CONSTRAINT pk_slab PRIMARY KEY (id);


--
-- Name: slab_movement pk_slab_movement; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.slab_movement
    ADD CONSTRAINT pk_slab_movement PRIMARY KEY (id);


--
-- Name: marbleshop_user pk_user; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.marbleshop_user
    ADD CONSTRAINT pk_user PRIMARY KEY (id);


--
-- Name: quotation unique_local_id_per_marbleshop; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.quotation
    ADD CONSTRAINT unique_local_id_per_marbleshop UNIQUE (marbleshop_id, local_id);


--
-- Name: marbleshop_order unique_local_id_per_marbleshop_on_marbleshop_order; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.marbleshop_order
    ADD CONSTRAINT unique_local_id_per_marbleshop_on_marbleshop_order UNIQUE (marbleshop_id, local_id);


--
-- Name: flyway_schema_history_s_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX flyway_schema_history_s_idx ON public.flyway_schema_history USING btree (success);


--
-- Name: approved_employee fk_approved_employee_on_employee; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.approved_employee
    ADD CONSTRAINT fk_approved_employee_on_employee FOREIGN KEY (employee_id) REFERENCES public.employee(id);


--
-- Name: bill fk_bill_on_marbleshop; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.bill
    ADD CONSTRAINT fk_bill_on_marbleshop FOREIGN KEY (marbleshop_id) REFERENCES public.marbleshop(id);


--
-- Name: customer fk_customer_on_marbleshop; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.customer
    ADD CONSTRAINT fk_customer_on_marbleshop FOREIGN KEY (marbleshop_id) REFERENCES public.marbleshop(id);


--
-- Name: payment fk_customer_on_payment; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.payment
    ADD CONSTRAINT fk_customer_on_payment FOREIGN KEY (customer_id) REFERENCES public.customer(id);


--
-- Name: employee fk_employee_on_marbleshop; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.employee
    ADD CONSTRAINT fk_employee_on_marbleshop FOREIGN KEY (marbleshop_id) REFERENCES public.marbleshop(id);


--
-- Name: employee fk_employee_on_user; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.employee
    ADD CONSTRAINT fk_employee_on_user FOREIGN KEY (user_id) REFERENCES public.marbleshop_user(id);


--
-- Name: expense fk_expense_on_bill; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.expense
    ADD CONSTRAINT fk_expense_on_bill FOREIGN KEY (bill_id) REFERENCES public.bill(id);


--
-- Name: expense fk_expense_on_marbleshop; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.expense
    ADD CONSTRAINT fk_expense_on_marbleshop FOREIGN KEY (marbleshop_id) REFERENCES public.marbleshop(id);


--
-- Name: marbleshop_user fk_marbleshop; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.marbleshop_user
    ADD CONSTRAINT fk_marbleshop FOREIGN KEY (marbleshop_id) REFERENCES public.marbleshop(id);


--
-- Name: marbleshop_item fk_marbleshop_item_on_marbleshop_material; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.marbleshop_item
    ADD CONSTRAINT fk_marbleshop_item_on_marbleshop_material FOREIGN KEY (marbleshop_material_id) REFERENCES public.marbleshop_material(id);


--
-- Name: marbleshop_item fk_marbleshop_item_on_marbleshop_order; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.marbleshop_item
    ADD CONSTRAINT fk_marbleshop_item_on_marbleshop_order FOREIGN KEY (marbleshop_order_id) REFERENCES public.marbleshop_order(id);


--
-- Name: marbleshop_item fk_marbleshop_item_on_quotation; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.marbleshop_item
    ADD CONSTRAINT fk_marbleshop_item_on_quotation FOREIGN KEY (quotation_id) REFERENCES public.quotation(id);


--
-- Name: marbleshop_material fk_marbleshop_material_on_marbleshop; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.marbleshop_material
    ADD CONSTRAINT fk_marbleshop_material_on_marbleshop FOREIGN KEY (marbleshop_id) REFERENCES public.marbleshop(id);


--
-- Name: production_order fk_marbleshop_on_production_order; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.production_order
    ADD CONSTRAINT fk_marbleshop_on_production_order FOREIGN KEY (marbleshop_id) REFERENCES public.marbleshop(id);


--
-- Name: quotation fk_marbleshop_on_quotation; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.quotation
    ADD CONSTRAINT fk_marbleshop_on_quotation FOREIGN KEY (marbleshop_id) REFERENCES public.marbleshop(id);


--
-- Name: marbleshop_order fk_marbleshop_order_on_customer; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.marbleshop_order
    ADD CONSTRAINT fk_marbleshop_order_on_customer FOREIGN KEY (customer_id) REFERENCES public.customer(id);


--
-- Name: marbleshop_order fk_marbleshop_order_on_marbleshop; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.marbleshop_order
    ADD CONSTRAINT fk_marbleshop_order_on_marbleshop FOREIGN KEY (marbleshop_id) REFERENCES public.marbleshop(id);


--
-- Name: marbleshop_sub_item fk_marbleshop_sub_item_on_marbleshop_item; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.marbleshop_sub_item
    ADD CONSTRAINT fk_marbleshop_sub_item_on_marbleshop_item FOREIGN KEY (marbleshop_item_id) REFERENCES public.marbleshop_item(id);


--
-- Name: miscellaneous_item fk_miscellaneous_item_on_marbleshop_order; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.miscellaneous_item
    ADD CONSTRAINT fk_miscellaneous_item_on_marbleshop_order FOREIGN KEY (marbleshop_order_id) REFERENCES public.marbleshop_order(id);


--
-- Name: miscellaneous_item fk_miscellaneous_item_on_miscellaneous_material; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.miscellaneous_item
    ADD CONSTRAINT fk_miscellaneous_item_on_miscellaneous_material FOREIGN KEY (miscellaneous_material_id) REFERENCES public.miscellaneous_material(id);


--
-- Name: miscellaneous_item fk_miscellaneous_item_on_quotation; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.miscellaneous_item
    ADD CONSTRAINT fk_miscellaneous_item_on_quotation FOREIGN KEY (quotation_id) REFERENCES public.quotation(id);


--
-- Name: miscellaneous_material fk_miscellaneous_material_on_marbleshop; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.miscellaneous_material
    ADD CONSTRAINT fk_miscellaneous_material_on_marbleshop FOREIGN KEY (marbleshop_id) REFERENCES public.marbleshop(id);


--
-- Name: payment fk_payment_on_marbleshop; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.payment
    ADD CONSTRAINT fk_payment_on_marbleshop FOREIGN KEY (marbleshop_id) REFERENCES public.marbleshop(id);


--
-- Name: payment fk_payment_on_marbleshop_order; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.payment
    ADD CONSTRAINT fk_payment_on_marbleshop_order FOREIGN KEY (marbleshop_order_id) REFERENCES public.marbleshop_order(id);


--
-- Name: production_order_item fk_production_order_item_on_marbleshop_item; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.production_order_item
    ADD CONSTRAINT fk_production_order_item_on_marbleshop_item FOREIGN KEY (marbleshop_item_id) REFERENCES public.marbleshop_item(id);


--
-- Name: production_order_item fk_production_order_item_on_production_order; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.production_order_item
    ADD CONSTRAINT fk_production_order_item_on_production_order FOREIGN KEY (production_order_id) REFERENCES public.production_order(id);


--
-- Name: production_order fk_production_order_on_order; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.production_order
    ADD CONSTRAINT fk_production_order_on_order FOREIGN KEY (order_id) REFERENCES public.marbleshop_order(id);


--
-- Name: quotation fk_quotation_on_customer; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.quotation
    ADD CONSTRAINT fk_quotation_on_customer FOREIGN KEY (customer_id) REFERENCES public.customer(id);


--
-- Name: slab_movement fk_slab_movement_on_production_order_item; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.slab_movement
    ADD CONSTRAINT fk_slab_movement_on_production_order_item FOREIGN KEY (production_order_item_id) REFERENCES public.production_order_item(id);


--
-- Name: slab_movement fk_slab_movement_on_slab; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.slab_movement
    ADD CONSTRAINT fk_slab_movement_on_slab FOREIGN KEY (slab_id) REFERENCES public.slab(id);


--
-- Name: slab fk_slab_on_marbleshop; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.slab
    ADD CONSTRAINT fk_slab_on_marbleshop FOREIGN KEY (marbleshop_id) REFERENCES public.marbleshop(id);


--
-- Name: slab fk_slab_on_material; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.slab
    ADD CONSTRAINT fk_slab_on_material FOREIGN KEY (material_id) REFERENCES public.marbleshop_material(id);


--
-- Name: quotation fk_user_on_quotation; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.quotation
    ADD CONSTRAINT fk_user_on_quotation FOREIGN KEY (user_id) REFERENCES public.marbleshop_user(id);


--
-- PostgreSQL database dump complete
--

